
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

html {
    background-image: url("train.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    color : #dddddd;
    font-family: Arial;
    font-size: 16px;
    padding: 30px 0;
    height: 100%;
    background-color: rgba(50, 50, 50, 127);
    backdrop-filter: blur(7px);
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover { text-decoration: underline }

#title {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    margin-top: 0;
    color : #ffca80;
}

img {
    margin: 20px;
    width: calc(100% - 40px);
}

#main { margin: 10px }

h1, h2, h3, ol>li::marker { color : #ffca80 }

